# Ignorar todo dentro de Data
Data/*

# --- BRONCE ---
!Data/Bronce/
Data/Bronce/*
!Data/Bronce/.gitkeep

# --- SILVER ---
!Data/Silver/
Data/Silver/*
!Data/Silver/.gitkeep

# --- GOLD ---
!Data/Gold/
Data/Gold/*
!Data/Gold/.gitkeep

# Ignorar credenciales
.env

# Archivos temporales de Python
__pycache__/
*.pyc

# Checkpoints de Jupyter
.ipynb_checkpoints/
#Subimos el analisis previo
!Analisis-Previo/*.ipynb